{{ define "main" }}
    <div class='py-5'>
        <div class='container'>
            <div class='row p-5 justify-content-center'>
                <div class='col-12 col-lg-10'>
                    <div class='display-3 font-weight-bold d-none d-sm-block line-height-1 pb-2'>
                        Get your Proof-of-Concept environment in 15 minutes!
                    </div>
                    <div class='display-4 font-weight-bold d-sm-none line-height-1 pb-2'>
                        Get your Proof-of-Concept environment in 15 minutes!
                    </div>
                    <div class='h1 text-secondary font-weight-bold pb-3'>
                        All the digital building blocks to create new business solutions.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light py-5">
        <div class="container">
            <div class="row justify-content-center my-4">
                <p class="display-3">Our offer</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 mx-md-4">
                    <div class="mb-3 d-flex flex-column align-items-center">
                        <img src="/market-logo.png" alt="Azure logo" class="logo-element"/>
                        <h3 class="card-title text-center mt-3">Tool boxes</h3>
                        <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                    </div>
                </div>
                <div class="col-12 col-md-3 mx-md-4">
                    <div class="mb-3 d-flex flex-column align-items-center">
                        <img src="/authentication-logo.png" alt="Azure logo" class="logo-element"/>
                        <h3 class="card-title text-center mt-3">App boxes</h3>
                        <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row justify-content-center my-4">
                <p class="display-3">Powered by</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 mx-md-4">
                    <div class="card card-bordered mb-3 ">
                        <img src="/azure.png" alt="Azure logo" class="card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title">Azure</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mx-md-4">
                    <div class="card card-bordered mb-3">
                        <img src="/aws.png" alt="Azure logo" class="card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title">AWS</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 collaboration-banner">
        <div class="container">
            <p class="text-wrap display-3 font-weight-bold offset-md-2 p-5 text-white col-md-5 d-none d-md-block">Let's collaborate together to create a communitary catalog</p>
            <p class="text-wrap display-4 font-weight-bold offset-md-2 p-5 text-white col-12 d-md-none">Let's collaborate together to create a communitary catalog</p>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row justify-content-center my-4">
                <p class="h1">Connected to Corporate Service</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 mx-md-4">
                    <div class="mb-3 d-flex flex-column align-items-center">
                        <img src="/market-logo.png" alt="market logo" class="logo-element"/>
                        <h3 class="card-title text-center mt-3">Market</h3>
                        <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                    </div>
                </div>
                <div class="col-12 col-md-3 mx-md-4">
                    <div class="mb-3 d-flex flex-column align-items-center">
                        <img src="/authentication-logo.png" alt="authentication logo" class="logo-element"/>
                        <h3 class="card-title text-center mt-3">Authentication</h3>
                        <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center my-4 p-4">
                <p class="h1 mb-4">Let's start</p>
                <p class="h3 font-weight-normal text-center my-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                <button class="btn btn-primary btn-lg">Start</button>
            </div>
        </div>
    </div>
{{ end }}